*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{
  margin:15px;
  font-family: Helvetica,"Trebuchet MS";
  background: url(../img//bg.png);
  max-width: 1180px;

  min-width: 740px;
  margin: 0 auto;
}

/*Area menu*/
header{
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
  background:hsl(50, 54%, 69%);
  height: 250px;
}

/*menu area login*/
#area-logo{
  width: 100%;
  height: 250px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  background: url(../img/topo-imagem-principal2.png) no-repeat;
  /*Qd maior, mais a frente o elemento se encontra*/
}
/*Logo*/
#area-logo h1 a{
  position: absolute;
  top:15px;
  left: 15px;
  background: url(../img/logo.png) no-repeat;
  width: 150px;
  height: 100px;
}

/*Menu- area menu*/
#area-menu{
  background: url(../img/topo-imagem-lateral.png);
  width: 450px;
  height: 250px;
  top: 0;
  right: 0;
  position: absolute;
  z-index: 2; /*Fica na frente, em cima da primeira div*/
}

/*conteudo menu*/
#conteudo{
  margin-left: 90px;
  padding: 10px;
  height: 100%;
}
/*menu - locais e reserva/*/
#locais{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid hsl(54, 39%, 52%);
  border-bottom: 1px solid hsl(54, 39%, 52%);
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0.7rem;
  color: hsl(54, 32%, 41%);
}
#locais a{
  padding: 5px;
  background: hsl(52, 34%, 47%);
  color:hsl(52, 100%, 85%);
  text-transform: uppercase;
}
#menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*menu navegacao*/
#menu nav ul li {
  padding-top:5px;
  padding-bottom: 5px;
}

#menu nav ul li a{
  text-transform: uppercase;
  font-size: 0.8rem;
  color:hsl(54, 43%, 30%);
}
/*menu depoimentos*/
#depoimento{
  margin-top: 10px;
  width: 226px;
  height: 164px;
  background: url(../img/depoimento.png);
}

/*Main*/
main{
  background: url(../img/bg-container.png) center repeat-y;
  margin-left: 15px;
  margin-right: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*Texto inicial - main->article*/
main article{
  padding: 24px;
  background: url(../img/bg-area-principal.png) top repeat-x;
}
/*Titulos da area principal*/
main article h2{
  color: hsl(52, 34%, 47%);
  font-size: 1.0rem;
  margin-bottom: 8px;
}

/*Paragrafos da area principal*/
main article p {
  font-size: 1rem;
}

main article p + p{
  margin-top: 8px;
}

/*Area lateral - aside*/
main aside{
  background: url(../img/bg-area-lateral.png) top repeat-x;
  padding: 16px;
}

/*imagens do area lateral*/
main aside img{
  width: 150px;
  height: 96px;
}

/*Titulos da area lateral*/
main aside h4{
  text-transform: capitalize;
  color:hsl(53, 37%, 28%);
  background: url(../img/ornamento.png) right top no-repeat;
}

/*Textos da area lateral*/
main aside span{
  font-size: 0.8rem;
  color: black;
}

main aside a{
  padding:8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(243, 241, 209);
}
main aside a:hover{
  background-color: cornsilk;
}

main aside nav ul li + li{
  margin-top: 8px;
}

main aside div{
  margin-left: 16px;
}

/*rodapé*/
footer{
  margin-left: 15px;
  margin-right: 15px;
  padding:16px;
  background:#fff url(../img/bg-rodape.png) repeat-x top;
  color: hsl(53, 32%, 37%);
  font-size: 0.9rem;
}